/* Style The Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: #f4f1e5;
  color: #544738;
  font-family: helvetica, sans-serif;
}
@font-face {
  font-family: "KulminoituvaRegular";
  src: url("kulminoituva-webfont.eot");
  src: local("‚ò∫"), url("kulminoituva-webfont.woff") format("woff"),
    url("kulminoituva-webfont.ttf") format("truetype"),
    url("kulminoituva-webfont.svg#webfontHNAi9IoX") format("svg");
  font-weight: normal;
  font-style: normal;
}

ul li {
  float: left;
  list-style: none;
  margin-right: 1em;
  font-family: "KulminoituvaRegular", helvetica, sans-serif;
  font-size: 25px;
  padding: 12px;
}

li a {
  color: #544738;
  text-decoration: none;
  float: left;
}

.left a:hover {
  -webkit-transform: rotate(-10deg) scale(1.2);
  -moz-transform: rotate(-10deg) scale(1.2);
  -o-transform: rotate(-10deg) scale(1.2);
}

.right a:hover {
  -webkit-transform: rotate(10deg) scale(1.2);
  -moz-transform: rotate(10deg) scale(1.2);
  -o-transform: rotate(10deg) scale(1.2);
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container > div {
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
